img, embed, object, video {
  max-width: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
}

header {
  background-color: white;
  border-bottom: solid 5px #8096AB;
}

#logo {
  height: 2.5em;
  margin: auto;
  display: block;
}

#name {
  font-family: "Unica One", sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin: 0
}

#job {
  font-family: "Amaranth", sans-serif;
  display: block;
  text-align: center;
margin: 0;
}

.contact {
  height: 2em;
  display: block;
  margin: auto;
}
main {
  background-color: #f4f7f9;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  color: #363E47;
  font-family: sans-serif;
  margin-top: -1em;
  border-top: 1px solid #c2c9cf;
  padding-top: 5px;
}

.project {
  padding-top: 1em;
}

.proj-name {
  margin: 0.3em;
  text-transform: uppercase;
  font-size: 2em;
  text-align: center;
  font-family: "Unica One", sans-serif;
}

.proj-pic {
  height: 40vh;
  border-radius: 3px;
  box-shadow: 5px 3px 10px rgba(1,1,1,0.6);
  display: block;
  margin: auto;
}

.proj-info-spot {
  margin: auto;
}

.view a {
  font-size: 15px;
  display: block;
  text-align: center;
  margin-left: 2%;
  background-color: #A9A9A9;
  color: white;
  padding: 8px;
  border-radius: 8px;
  text-decoration: none;
  font-family: sans-serif;
  text-transform: uppercase;
}

.view {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.github, .live {
  margin-left: 10%;
  font-size: 1em;
  margin-left: 5%;
}

.description {
  font-family: sans-serif;
  width: 80%;
  margin: auto;
}

nav {
  float: right;
  background-color: #404b56;
  color: white;
  /* text-transform: uppercase;
  font-family: 'Poppins', sans-serif;  */
}

nav ol {
  margin-block-start: 0;
  margin-block-end: 0;
  list-style: none;
  padding-inline-start: 0;
}

nav li {
  color: inherit;
  text-decoration: inherit;
  width: 50px;
  text-align: center;
  margin: auto;
}
nav li a:active, nav li a h1:focus, nav li a h1:visited {
  color: white;
  text-decoration: inherit;
}

li a img {
  width: 75%;
  height: 75%;
  padding-top: 15%;
}
nav li a h1 {
  display: flex;
  text-decoration: inherit;
  color: inherit;
  margin: auto;
}

h4 {
  display: none;
}

nav li:hover {
  background-color: #5c6c7c;
}
/* @media only screen and (min-width: 500px) {

  #name, #job {
    text-align: right;
    }

  #logo {
      float: left;
      margin-left: 0;
      margin-top: 1em;
  }

  nav {

  }


  .proj-name {
    font-size: 1.5em;
  }

  a {
    font-size: 16px;
    margin-bottom: 2em;
  }

  #name {
    font-size: 3em;
    }

  #logo {
    height: 4em;
    }

  #job {
    margin-top: -2.5em;
    }

  .project {
    border: 1px grey dotted;
  }
} */
