img, embed, object, video {
  max-width: 100%;
}

#logo {

  height: 2.5em;
  margin-left: calc(50% - 35px);
  margin-top: 5%;
}

#name {
  font-family: "Unica One", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

#job {
  font-family: "Amaranth", sans-serif;
  display: block;
  text-align: center;
  margin-top: -1.5em;
  border-bottom: solid 5px #8096AB;
  padding-bottom: 1em;
}

#main-pic {
  margin-top: -0.5em;
  width: 100%;
}

.image-source {
  font-size: 0.5em;
  color: grey;
  margin-top: 0.2em;
}

.pic2 {
  display: none;
}

.site-description {
  font-size: 0;
}

#project-header {
  font-family: "Amaranth", sans-serif;
  font-weight: lighter;
  color: #646669;
  font-size: 1.3em;
  margin-top: -0.5em;
  text-align: center;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  color: #363E47;
  font-family: sans-serif;
  margin-top: -1em;
  border-top: 1px solid #c2c9cf;
  padding-top: 5px;

}

.project {
  width: 100%;
}

.project-name {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
  padding: 0.5em;
  margin-top: -0.1em;
  margin-left: -0.4em;
  font-size: 1.3em;
}



.proj-pic {
  width: 100%;
  border-radius: 3px;
  box-shadow: 5px 3px 10px rgba(1,1,1,0.6);
}

a {
  font-size: 12px;
  display: block;
  text-align: center;
}

.view {
  display: flex;
  flex-wrap: nowrap;
  margin-left: -10%;
  justify-content: center;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px grey dotted;
}

.github-link, .demo-link {
  margin-left: 10%;
  font-size: 1em;
}


@media only screen and (min-width: 500px) {
  #name, #job {
    text-align: right;
    }

#job {
  padding-bottom: none;
}
  #logo {
      float: left;
      margin-left: 0;
      margin-top: 1em;
  }

  .project-name {
    font-size: 1.5em;
  }

  a {
    font-size: 16px;
    margin-bottom: 2em;
  }

.project {
  width: 31%;
  margin: 1%;
}

.project-name {
  font-size: 0.8em;
}

section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 100%;
}

@media screen and (min-width: 660px) {
  #name {
    font-size: 3em;
    }

  #logo {
    height: 4em;
    }

  #job {
    margin-top: -2.5em;
    }

  .pic-box {
    width: 70%;
    margin-right: 4%;
    margin-left: 1%;
    margin-top: 1%;
  }

  .pic2 {
    display: flex;
    margin-top: -2%;
  }

  .side-box {
    width: 20%;
  }

  .project {
    width: 100%;
  }
}
