

img, embed, object, video {
  max-width=100%;
}

#logo {
  float: left;
  height: 2.5em;
  }

#name {
  font-family: "Unica One", sans-serif;
  text-align: right;
  text-transform: uppercase;
}

#job {
  font-family: "Amaranth", sans-serif;
  display: block;
  text-align: right;
  margin-top: -1.5em;
  border-bottom: solid 5px #8096AB;
}

#main_pic {
  margin-top: .5em;
  width: 100%;
}

.site-description{
  font-size: 0;
}

#project_header {
  font-family: "Amaranth", sans-serif;
  font-weight: lighter;
  color: #C2C9CF;
  font-size: 1.3em;
  margin-top: -.5em;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  color: #363E47;
  font-family: sans-serif;
  margin-top: -1.7em;
}

.projname {
  text-transform: uppercase;
  font-size: .8em;
  text-align: center;
  margin-bottom: 0px;
  margin-top: -.2em;
  margin-left: -.4em;
}

.project {
  width: 31%;
  margin: 1%;}

.projpic {
  width: 100%;
}

a {
  font-size: .36em;
  display: block;
  text-align: center;
}

@media screen and (min-width: 500px) {
  .projname {
    font-size: 1.5em;
  }
  a {
    font-size: .6em;
  }
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 100%;
}
@media screen and (min-width: 660px) {
  #name {
    font-size: 3em;
    }
  .pic_box {
    width: 70%;
    margin-right: 5%;
    margin-top: 2em;
  }

  .side_box {
    width: 20%;
  }

  .project {
    width: 100%;
  }

}
